<?xml version="1.0"?>
    <configuration>
        <appSettings>
        <add key="FM_LOG_FILE_PATH" value="/Users/alexmarquez/Documents/GitHub/TestForStuff/log/fm.log"/>
        <add key="FM_ERROR_LOG_FILE_PATH" value="/Users/alexmarquez/Documents/GitHub/TestForStuff/log/error.log"/>
        <add key="FM_TRACE_LOG_FILE_PATH" value="/Users/alexmarquez/Documents/GitHub/TestForStuff/log/trace.log"/>
        <add key="SD_LOG_FILE_PATH" value="/Users/alexmarquez/Documents/GitHub/TestForStuff/log/sd.log"/>
        <add key="FM_OUTPUT_FOLDER_PATH" value="/Users/alexmarquez/Documents/GitHub/TestForStuff/output/"/>
        <add key="FM_OUTPUT_NETWORK_PATH" value="/Users/alexmarquez/Documents/GitHub/TestForStuff/output/"/>
        </appSettings>
    </configuration>    